<div class="form">
  <ul class="form">
<form action="/idea/create" method="POST">
  <li>title
  <input type="text" name="title" id="title">
  </li>
  <li>
  description
  <input type="text" name="description" id="description">
  </li>
  <li>
  tags
  <input type="text" name="tag" id="tag">
</li>
  <input type="submit" value="Add Idea!" class="button"/>
</form>
</ul>
</div>

<h2>Recent Ideas:</h2>
<% unless @ideas.empty? %>
<ul class="idealist">
<% @ideas.each do |idea| %>
<% unless idea.completed? %>
<a href="/idea/<%= idea.id %>"> 
  <li class="ideaitem">
  <%= idea.title %>
  <div class="tab">
  <%= idea.description %>
  </div>
  </li>
</a>
<% end %>
<% end %>
</ul>
<% else %>
<p>No Ideas!</p>
<% end %>

