<!DOCTYPE html>
<html lang="en">
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title>Idea Box</title>
<meta charset=utf-8 />
<link rel="stylesheet" href="/styles.css">

</head>
<body>
  <div id="wrap">
    <div id="header">
      <a href="/"><img class="logo" src="/images/logo_small.jpg" alt="bulbs"></a>
    </div>
    <div id="nav">
      <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href='/tags'>Tags</a></li>
        <li><a href='/ideas'>Ideas</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
    <h2>Tags:</h2>
    <% unless @tags == nil %>
    <ul>
    <% @tags.each do |tag| %>
    <li> 
      <%= tag.title %> 
    </li>
    <% end %>
    </ul>
    <% else %>
    <p>No Tags!</p>
    <% end %>
    </div>
    <div id="footer">
      <img class="logo" src="/images/Edison_incandescent_lights.jpg" alt="bulbs">
    </div>
  </div>
</body>
</html>
