<p>
<h2>Tags:</h2>
<% unless @tags.empty? %>
<ul class="idealist">
<% @tags.each do |tag| %>
<a href="/tag/<%= tag.id %>"> 
<li class="ideaitem"> 
  <%= tag.title %> 
</li>
</a>
<% end %>
</ul>
<% else %>
<p>No Tags!</p>
<% end %>
