<form action="/tag/create" method="POST">
  <input type="text" name="title" id="title">
  <input type="integer" name="idea_id" id="idea_id">
  <input type="submit" value="Add Tag!"/>
</form>

<h2>Tags:</h2>
<% unless @tags.empty? %>
<ul>
<% @tags.each do |tag| %>
<li> 
  <%= tag.title %> 
  <%= tag.idea_id %>
</li>
<% end %>
</ul>
<% else %>
<p>No Tags!</p>
<% end %>
